<% content_for :title, "Zdjęcia" %>

<h1>
  Zdjęcia
  <%= link_to "Dodaj zdjęcie", new_photo_path, class: 'btn btn-primary pull-right' %>
</h1>

<%= render 'photos_list', photos: @photos %>

<%= will_paginate @photos, renderer: BootstrapPagination::Rails %>
